<div class="inner-content">
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="24" style="text-align: center; margin-top: 100px">
      <nz-spin nzSimple [nzSize]="'large'" nzTip="Verifying..."></nz-spin>
    </div>
  </div>
</div>
