<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img
        src="https://www.img.in.th/images/c3cd17fdf44d0764ccdd73669a67b408.th.png"
        alt="logo"
      />

      <h1>PUPAN</h1>
    </div>
    <nz-divider></nz-divider>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nzOpen nzTitle="Manage" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/Manage">Manage</a>
          </li>
        </ul>
      </li>

      <ul>
        <li nz-menu-item nzMatchRouter nzIcon="down">
          <a routerLink="/user_management">User</a>
        </li>
      </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>

        <a nz-dropdown [nzDropdownMenu]="menu" style="margin-left: 78%">
          {{ name }}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <a nz-menu-item (click)="signOut()">Sign out</a>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
