<h1>จัดการ User</h1>

<nz-spin [nzSpinning]="isLoading" nzTip="Loading...">
  <nz-modal
    [(nzVisible)]="isModalUpdate"
    nzTitle="Edit User"
    (nzOnCancel)="cancelEdit()"
    (nzOnOk)="submitEdit()"
  >
    <ng-container *nzModalContent>
      <!-- <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p> -->

      <nz-input-group
        [nzSuffix]="suffixTemplateInfo"
        [nzPrefix]="prefixTemplateUser"
      >
        <input
          [(ngModel)]="fullName"
          type="text"
          nz-input
          placeholder="Enter your Fullname"
        />
      </nz-input-group>
      <ng-template #prefixTemplateUser
        ><i nz-icon nzType="user"></i
      ></ng-template>
      <ng-template #suffixTemplateInfo> </ng-template>
    </ng-container>
  </nz-modal>

  <nz-table #userTable nzSize="middle" [nzData]="userData">
    <thead>
      <tr>
        <th>No</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>create At</th>
        <th>Update At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.full_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.created_at | date: "mediumDate" }}</td>
        <td>{{ data.update_at | date: "mediumDate" }}</td>
        <td>
          <a (click)="editUser(data)"
            ><i nz-icon nzType="edit" nzTheme="outline"></i>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteUser(data)"
            ><i nz-icon nzType="delete" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
