<div id="main">

 <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">

      <div nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box" >

      	<div class="fof">
        		<h1  >Error 404  <button nz-button nzType="primary" [routerLink]="['/login']" >Back</button>
</h1>
    	</div>
      </div></div>
    </div>



</div>
