nz-divider {
  color: #333;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.inner-box {
  background: #0092ff;
  padding: 8px 0;
}

/* .ant-btn-dangerous {
  background: #fff;
  border-color: #3cb371;
} */

.ant-btn-dangerous {
  color: #3cb371;
  background: #fff;
  border-color: #3cb371;
}
