<div class="login-wrapper"  >
  <nz-spin [nzSpinning]="isLoading"  nzTip="Loading...">

  <div class="login">





    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <br />
      <br />

      <br />

      <div
        nz-col
        class="gutter-row"
        style="margin-left: 500px; margin-top: 13%"
        [nzSpan]="24"
      >
        <div class="inner-box">

          <form
            nz-form
            [formGroup]="validateForm"
            class="login-form"
            (ngSubmit)="submitForm()"
          >
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    placeholder="Username"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input
                    type="password"
                    nz-input
                    formControlName="password"
                    placeholder="Password"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
                  <span>Remember me</span>
                </label>
              </div>
              <!-- <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">Forgot password</a>
              </div> -->
            </div>
            <button
              nz-button
              class="login-form-button login-form-margin"
              [nzType]="'primary'"
            >
              Log in
            </button>
            Or
            <a routerLink="/register">register now!</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</nz-spin>

</div>

