<div class="main">
  <!-- https://www.img.in.th/images/1d2228cb3b466ce2377e4c2b246b33f7.th.jpg -->
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"  >


  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box"></div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="inner-box">
      <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Full Name</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            nzValidatingTip="Validating..."
            [nzErrorTip]="userErrorTpl"
          >
            <input
              nz-input
              formControlName="fullName"
              placeholder="Full Name"
            />
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input your Fullname!</ng-container
              >
              <ng-container *ngIf="control.hasError('duplicated')"
                >The Fullname is redundant!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            [nzErrorTip]="emailErrorTpl"
          >
            <input
              nz-input
              formControlName="email"
              placeholder="email"
              type="email"
            />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')"
                >The input is not valid E-mail!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your E-mail!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            nzErrorTip="Please input your password!"
          >
            <input
              nz-input
              type="password"
              formControlName="password"
              (ngModelChange)="validateConfirmPassword()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired
            >Confirm Password</nz-form-label
          >
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            [nzErrorTip]="passwordErrorTpl"
          >
            <input
              nz-input
              type="password"
              formControlName="confirm"
              placeholder="confirm your password"
            />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please confirm your password!</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')"
                >Password is inconsistent!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!registerForm.valid">
              Submit
            </button>

            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
          <br />
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            Or
            <a routerLink="/login">Login..</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box"></div>
  </div>
</div>
</div>
